
@media screen and (max-width: 1920px){
    header{
    	height: 46em;
    }
}

@media screen and (max-width: 1500px){
    header{
    	height: 43em;
    }
}

@media screen and (max-width: 1400px){
    header{
    	height: 41em;
    }
}

@media screen and (max-width: 1300px){
    header{
    	height: 38em;
    }
}

@media screen and (max-width: 1300px){
    header{
    	height: 35em;
    }
}

@media screen and (max-width: 1200px){
    header{
    	height: 32em;
    }
}

@media screen and (max-width: 1100px){
    header{
    	height: 30em;
    }
}

@media screen and (max-width: 1000px){
    header{
    	height: 29em;
    }
}

@media screen and (max-width: 900px){
    header{
    	height: 26em;
    }
}

@media screen and (max-width: 800px){
    header{
    	height: 23em;
    }
}

@media screen and (max-width: 720px){
    header{
    	height: 21em;
    }
}

@media screen and (max-width: 700px){
    header{
    	height: 20em;
    }
}

@media screen and (max-width: 600px){
    header{
    	height: 17em;
    }
}

@media screen and (max-width: 500px){
    header{
    	height: 14em;
    }
}

@media screen and (max-width: 400px){
    header{
    	height: 11em;
    }
}

@media screen and (max-width: 320px){
    header{
    	height: 9em;
    }
}

@media screen and (max-width: 306px){
    header{
    	height: 8em;
    }
}