@charset "utf-8";

/* Styles specific to this particular page */
html
{
	overflow: auto;
}

body {
	padding: 0;
	margin: 0;
	overflow: hidden;
}


header{
	width: 100%;
	max-width: 100%;
	height: 47em;
	background: #fff url(http://i.imgur.com/Wsr6Z7u.jpg) no-repeat top center fixed; 
	-webkit-background-size: 100%;
	   -moz-background-size: 100%;
	     -o-background-size: 100%;
            background-size: 100%;
}

header img{
	max-width: 100%;
	max-height: 100%;
	height: 100%;
	width: 100%;
}

h1{
	margin: 0;
	padding: 0;
}

.title{
	padding-top: 5em;
	text-align: center;
	font-size: 2em;
}

.main-body{
	width: 100%;
	height: 30em;
	background: url(http://i.imgur.com/Kq1k4zB.jpg) no-repeat center center fixed; 
	-webkit-background-size: 100% 100%;
	   -moz-background-size: 100% 100%;
	     -o-background-size: 100% 100%;
	        background-size: 100% 100%;
}

.portofilo{
	height: 30em;
	background: url(http://i.imgur.com/3ynvw9Q.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}
.bg-white{
	background: #fff;
}
.bil{
	margin-top: 2em;
}

.center{
	text-align: center;
}

#full-page-container
{
	overflow: auto;
}
.scroll-pane
{
	width: 100%;
	height: 200px;
	overflow: auto;
}
.horizontal-only
{
	height: auto;
	max-height: 200px;
}



/* Preloader */
#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#fff; 
	z-index:9999;
}

#status {
	width:200px;
	height:200px;
	position:absolute;
	left:50%; 
	top:50%;
	background-image:url(../img/loading.gif);
	background-repeat:no-repeat;
	background-position:center;
	margin:-100px 0 0 -100px;
}


